{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header">
    <strong>
      {{ info_renter.first_name }}
      {{ info_renter.last_name }}
    </strong>
  </div>
  <div class="card-body">
    <strong>Email: </strong>
    <p class="card-text">
      {{ info_renter.email }}
    </p>
    <strong>Telephone: </strong>
    <p class="card-text">
      {{ info_renter.telephone }}
    </p>
    <strong>Gender: </strong>
    <p class="card-text">
      {{ info_renter.gender }}
    </p>
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<a href="{% url 'delete_renter' info_renter.id %}" class="btn btn-danger">Delete</a>
{% endblock %}